attrs
beautifulsoup4
blinker
bs4
certifi
cffi
charset-normalizer
click
cryptography
Flask
idna
itsdangerous
Jinja2
joblib
lbry-libtorrent
lxml
MarkupSafe
meson
numpy
packaging
pandas
ply
pycparser
python-dateutil
pytz
requests
scikit-learn
scipy
six
soupsieve
tbb
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
gunicorn
